.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #000a13;
  box-shadow: 0px 4px 30px 2px rgb(72, 71, 71);
  height: 70px;
  z-index: 100;
  padding: 0rem 3.4rem;
}
.navbar-logo-img {
  /* border: 2px solid white; */
  height: 40px;
  width: 40px;
}
.logo-icon {
  /* border: 2px solid white; */
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-icon span {
  color: #dba570;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto";
  /* border: 2px solid white; */
  margin-left: 10px;
}
.fav-icon {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #000a13;
  padding: 8px 20px;
  margin-right: 10px;
  font-family: "Roboto";
  text-decoration: none;
  color: #dba570;
  font-size: 14px;
}
.fav-icon:hover {
  background-color: #dba570;
  color: #000a13;
}
.navbar-mail {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  /* border: 2px solid white; */
}
.menu-icon i {
  color: #dba570;
  font-weight: 900;
  font-size: 1.5rem;
  display: none;
}

@media (max-width: 767px) {
  .navbar-mail .fav-icon {
    display: none;
  }
  .menu-icon i {
    display: block;
    border: none;
    cursor: pointer;
    color: #dba570;
    font-size: 1.5rem;
    font-weight: 900;
  }
}
