.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #000a13;
  box-shadow: 0px 4px 30px 2px rgb(72, 71, 71);
  height: 70px;
  z-index: 100;
  padding: 0rem 3.4rem;
}
.navbar-logo-img {
  /* border: 2px solid white; */
  height: 40px;
  width: 40px;
}
.logo-icon {
  /* border: 2px solid white; */
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-icon span {
  color: #dba570;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto";
  /* border: 2px solid white; */
  margin-left: 10px;
}
.fav-icon {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #000a13;
  padding: 8px 20px;
  margin-right: 10px;
  font-family: "Roboto";
  text-decoration: none;
  color: #dba570;
  font-size: 14px;
}
.fav-icon:hover {
  background-color: #dba570;
  color: #000a13;
}
.navbar-mail {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  /* border: 2px solid white; */
}
.menu-icon i {
  color: #dba570;
  font-weight: 900;
  font-size: 1.5rem;
  display: none;
}
.sidebared {
  height: 914px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #000a13; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
  /* border: 2px solid yellow; */
  /* display: flex; */
  /* justify-content: space-between; */
}
.menu-expand-sidebar {
  height: 900px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  /* border: 2px solid red; */
}
.menu-sidebar-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-betweens;
  row-gap: 50px;
  /* border: 2px solid white; */
}
.menu-button {
  width: 250px;
  height: 100px;
  color: #dba570;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000a13;
  box-shadow: 0px 4px 30px 2px rgb(72, 71, 71);
  border-radius: 20px;
}
.menu-button:hover {
  box-shadow: 0px 4px 30px 2px #dba570;
}
.app-info {
  margin-top: 300px;
  /* border: 2px solid white; */
}
@media (max-width: 767px) {
  .navbar-mail .fav-icon {
    display: none;
  }
  .menu-icon i {
    display: block;
    border: none;
    cursor: pointer;
    color: #dba570;
    font-size: 1.5rem;
    font-weight: 900;
  }
}
