* {
  color: rgb(184, 181, 181);
}

.homepost-main {
  background-color: #000a13;
  height: auto;
  width: 61%;
  box-shadow: 2px 2px 12px 0px rgb(72, 71, 71);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: start;
}
.homepost-main:hover {
  box-shadow: 2px 2px 12px 0px #dba570;
}
.homepost-user {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
}
.user-img {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  background-color: white;
}
.homepost-user-img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.user-name {
  margin-left: 15px;
  font-size: 17px;
  color: #dba570;
  /* border: 1px solid white; */
}
.homepost {
  display: flex;
  margin: 0px 30px;
}
.homepost-content {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 15px;
  /* border: 1px solid white; */
}
.homepost-image {
  margin-left: 20px;
  /* box-shadow: 2px 2px 12px 0px #dba570; */
  /* box-shadow: #dba570 0px 5px 15px; */
  box-shadow: #dba570 1px 0px 11px 0px;
  border-radius: 10px;
  height: 75px;
  width: 80px;
  /* background-color: red; */
}
.homepost-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.homepost-footer {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid white; */
  margin-top: 15px;
}
.homepost-upvote {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: #dba570;
  /* border: 1px solid white; */
}
.upvote-count {
  margin-left: 5px;
  margin-right: 10px;
  color: #dba570;
}
.up,
.down {
  color: #dba570;
}
/* .upvote-btn {
  display: flex;
} */
.homepost-comment {
  color: #dba570;
  /* border: 1px solid white; */
}
@media (max-width: 767px) {
  .homepost-main {
    width: 100%;
  }
}
