.postCompnent-post-container {
  margin: 0 3.4rem;
  margin-top: 100px;
  width: 50%;
  height: fit-content;
  padding: 14px 14px 0px 14px;
  background-color: #000a13;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 12px 0px #dba570;
  border-radius: 20px;
}

.postCompnent-icon-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  /* margin-left: 35px; */
}

.postCompnent-icon-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postCompnent-icon-image {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.postCompnent-icon-image img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.postCompnent-icon-name span {
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.postCompnent-icon-date span {
  font-size: 14px;
  color: rgb(136, 135, 135);
}

.postCompnent-post-content {
  margin-top: 4px;
  background-color: #000a13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCompnent-post-title,
.postCompnent-post-desc {
  width: 100%;
  /* display: flex; */
  height: fit-content;
  /* justify-content: flex-start; */
  /* margin-left: 80px; */
  /* background-color: red; */
  padding: 0 1rem;
  margin-top: 15px;
}

.postCompnent-post-title span {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-bottom: 12px;
}

.postCompnent-post-desc span {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.postCompnent-post-image img {
  width: 100%;
  height: 626px;
  border-radius: 30px;
}

.postCompnent-post-engagment {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* justify-content: space-around; */
  align-items: center;

  margin-top: 60px;
  margin-left: 1%;
}

.postComponent-post-votes {
  display: flex;
  width: 10%;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  /* background-color: rgb(238, 234, 234); */
  padding: 4px;
  border-radius: 10px;
  margin-left: 35px;
  font-size: 20px;
}
.postComponent-like {
  /* font-size: 40px; */
}

* {
  font-family: Monaco, sans-serif;
}

.Apped {
  margin-top: 20px;
  width: fit-content;
}

.commentContainer {
  margin-top: 6px;
  background-color: #d3d3d3e0;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 300px;
  cursor: pointer;
  border-radius: 5px;
}

.commentContainer:hover {
  background-color: #d3d3d3bf;
}

.inputContainer {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.inputContainer > span {
  margin-top: 5px;
}

.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.first_input {
  margin: 0;
}

.commentContainer > span {
  margin: 0 5px;
}

.reply {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  color: #4e4e4e;
  font-weight: 600;
  cursor: pointer;
}

.comment {
  /* margin: 0 3.4rem; */
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .postCompnent-post-container {
    width: 75%;
  }
}
