.interest-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  /* background-color: white; */
}

/* .name {
  position: absolute;
  top: 0px;
  left: 0;
} */
.form-check {
  position: relative;
}
.form-check-input {
  position: absolute;
  top: 25px;
  left: 5px;
  z-index: 10;
  height: 20px;
  width: 20px;
}
.form-check-label {
}

.interest-box {
  /* filter: grayscale(30%); */
  opacity: 0.7;
  width: auto;
  height: 150px;
  background-color: #011525;
  margin-top: 20px;
  border-radius: 15px;
  position: relative;
  /* filter: hue-rotate(); */
}
/* .interest-box:hover {
  opacity: 1;
  filter: grayscale(0);
  transform: scale(1.07, 1.07);
  background-color: #011e34;
  color: black;
} */
.interest-box-img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  color: black;
}
